@page "/"

<BSDataTable IsSmall="true" IsHoverable="true" Items="Samples1" Context="sample" IsResponsive="true" IsStriped="true" @ref="SortableRef">

    <HeaderTemplate>

        <tr>

            <th scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("Datum"))" @onclick:preventDefault>Dátum</a></th>

            <th scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("TypZaznamu"))" @onclick:preventDefault>Typ záznamu</a></th>

            <th height="5" width="100" scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("LastName"))" @onclick:preventDefault>Projekt</a></th>

            <th height="5" width="250" scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("Stanica"))" @onclick:preventDefault>Stanica</a></th>

            <th height="5" width="1000" scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("Porucha"))" @onclick:preventDefault>Popis poruchy</a></th>

            <th height="5" width="1000" scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("Opatrenie"))" @onclick:preventDefault>Opatrenie</a></th>

            <th scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("Typ"))" @onclick:preventDefault>Typ</a></th>

            <th scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("Prestoj"))" @onclick:preventDefault>Prestoj</a></th>

            <th scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("Vykonal"))" @onclick:preventDefault>Vykonal</a></th>

            <th scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("TypND1"))" @onclick:preventDefault>Typ ND 1</a></th>

            <th align="center" scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("TypND2"))" @onclick:preventDefault>Typ ND 2</a></th>

            <th draggable="auto" scope="col"><a href="javascript:void(0)" @onclick="@(() => SortableRef.Sort("TypND3"))" @onclick:preventDefault>Typ ND 3</a></th>

        </tr>

    </HeaderTemplate>

    <ItemTemplate>

        <th>@sample.Datum</th>

        <td>@sample.TypZaznamu</td>

        <td height="5">@sample.Projekt</td>

        <td height="5">@sample.Stanica</td>

        <td height="5" width="1000">@sample.Porucha</td>

        <td height="5" width="1000">@sample.Opatrenie</td>

        <td>@sample.Typ</td>

        <td>@sample.Prestoj</td>

        <td>@sample.Vykonal</td>

        <td>@sample.TypND1</td>

        <td>@sample.TypND2</td>

        <td>@sample.TypND3</td>


    </ItemTemplate>

</BSDataTable>

@code {

    public List<SampleData> Samples1 { get; set; }
    private BSDataTable<SampleData> SortableRef { get; set; }

    protected override void OnInitialized()

    {

        Samples1 = new List<SampleData>();
        string path = @"C:\Users\MSI_GT72\Desktop\WriteFile.txt";

        // zapisuje na posledny riadok
        // string appendText = "This is extra text" + Environment.NewLine;
        //File.AppendAllText(path, appendText);

        // Open the file to read from.
        string[] readText = File.ReadAllLines(path);
        //
        //  string sprava = readText.Length(ib);

        int ia = readText.Length;
        for (int ib = 0; ib < ia; ib++)
        {
            string sprava = readText[ib];
            string[] spl = sprava.Split(';');

            Samples1.Add(new SampleData()

            {

                Datum = spl[0],

                TypZaznamu = spl[1],

                Projekt = spl[2],

                Stanica = spl[3],

                Porucha = spl[4],

                Opatrenie = spl[5],

                Typ = spl[6],

                Prestoj = spl[7],

                Vykonal = spl[8],

                //VyrND1 = spl[9],

                TypND1 = spl[9] + " - " + "\n" + spl[10] + "\n" + spl[11] + "ks",

                // ND1ks = spl[11],

                //VyrND2 = spl[12],

                TypND2 = spl[12] + " - " + "\n" + spl[13] + "\n" + spl[14] + "ks",

                //ND2ks = spl[14],

                //VyrND3 = spl[15],

                TypND3 = spl[15] + " - " + "\n" + spl[16] + "\n" + spl[17] + "ks",

                //ND3ks = spl[17]


            }); ;

        }
    }


    public class SampleData

    {

        public string Datum { get; set; }

        public string TypZaznamu { get; set; }

        public string Projekt { get; set; }

        public string Stanica { get; set; }

        public string Porucha { get; set; }

        public string Opatrenie { get; set; }

        public string Typ { get; set; }

        public string Prestoj { get; set; }

        public string Vykonal { get; set; }

        //public string VyrND1 { get; set; }

        public string TypND1 { get; set; }

        //public string ND1ks { get; set; }

        //public string VyrND2 { get; set; }

        public string TypND2 { get; set; }

        //public string ND2ks { get; set; }

        //public string VyrND3 { get; set; }

        public string TypND3 { get; set; }

        //public string ND3ks { get; set; }

    }


}